<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>f43.me</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/build/main.css" />

    <script type="text/javascript" src="/build/zepto.modernizr.js"></script>
</head>
<body>
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="{{ path('feed_publicview') }}">f43.me</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            {% if app.user %}

                <ul class="left">
                    <li class="divider"></li>
                    <li {% if menu is defined and 'dashboard' == menu %}class="active"{% endif %}>
                        <a href="{{ path('feed_dashboard') }}">Dashboard</a>
                    </li>
                    <li class="divider"></li>
                    <li {% if menu is defined and 'feed' == menu %}class="active"{% endif %}>
                        <a href="{{ path('feed_homepage') }}">Feeds</a>
                    </li>
                    <li class="divider"></li>
                    <li {% if menu is defined and 'log' == menu %}class="active"{% endif %}>
                        <a href="{{ path('feedlog_homepage') }}">Feed logs</a>
                    </li>
                    <li class="divider"></li>
                    <li {% if menu is defined and 'test' == menu %}class="active"{% endif %}>
                        <a href="{{ path('feed_test') }}">Test link</a>
                    </li>
                    <li class="divider"></li>
                </ul>

                <ul class="right">
                    <li class="has-form">
                        <a class="success button radius small" href="{{ path('feed_new') }}">Add a new feed</a>
                    </li>
                    <li class="divider"></li>
                    <li class="has-form">
                        <a class="alert button" href="{{ path('logout') }}">Logout</a>
                    </li>
                </ul>

            {% else %}

                <ul class="right">
                    <li class="has-form">
                        <a class="success button" href="{{ path('login') }}">Login</a>
                    </li>
                </ul>

            {% endif %}
        </section>
    </nav>

    <div class="row">
        <div class="large-12 columns">
            <h2 class="title">{% block h2_title %}{% endblock %}</h2>
            <hr />
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div data-alert class="alert-box radius">{{ flashMessage }}</div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div data-alert class="alert-box success radius">{{ flashMessage }}</div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div data-alert class="alert-box alert radius">{{ flashMessage }}</div>
            {% endfor %}
        </div>
    </div>

    {% block content %}{% endblock %}

    <script type="text/javascript" src="/build/app.js"></script>

    <script type="text/javascript">
        $(document).foundation();
        {% if ga_tracking %}
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ ga_tracking }}', 'f43.me');
            ga('send', 'pageview');
        {% endif %}
    </script>
</body>
</html>
