{% extends "base.html.twig" %}

{% block h_title %}
    <hgroup>
        <h1>{{ include('default/Feed/_favicon.html.twig', {'host': feed.host}) }} {{ feed.name }}'s items</h1>
        <h3>{{ items|length }} cached items</h3>
    </hgroup>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('modal') }}
{% endblock %}

{% block content %}
<p>
    <a href="{{ path('feed_edit', { 'slug': feed.slug }) }}">&lArr; Back to the feed</a>
</p>

{% if items|length > 0 %}
    <table role="grid">
        <thead>
            <tr>
                <th>Title</th>
                <th>Published&nbsp;at</th>
                <th>Created&nbsp;at</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><div><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></div></td>
                <td>{{ item.publishedAt|date('d/m/y - H:i:s') }}</td>
                <td>{{ item.createdAt|date('d/m/y - H:i:s') }}</td>
                <td><button class="open-modal" data-target="modal-preview-item" data-url="{{ url('item_preview_cached', { 'id': item.id }) }}">preview</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="{{ path('item_delete_all', { 'slug': feed.slug }) }}" method="post" class="delete_form">
        {{ form_widget(delete_all_form) }}
        <button class="alert" type="submit">Delete all items</button>
    </form>
{% endif %}

<dialog id="modal-preview-item">
    <article></article>
</dialog>

{% endblock %}
