{% extends "base.html.twig" %}

{% block content %}
<div>
    <h2>What's that?</h2>
    <p>I'm reading a lot of feeds in the subway. Mostly when I go to work and when I come back home. We are lucky in Paris because we have data network in the subway, but sometimes, network is saturated and you can't load the webpage of an item of your feed. You're stuck with only 3 lines from the feed...</p>
    <p>That's why I've built a <em>kind of</em> proxy for RSS feeds that I read the most, called <strong>f43.me</strong>.</p>
    <p>It's simple:</p>
    <ul>
        <li>fetch items from a feed</li>
        <li>grab the content</li>
        <li>make it <em>readable</em> using an internal (a local PHP libray, called <a href="https://github.com/j0k3r/graby">graby</a>) or <a href="https://github.com/postlight/mercury-parser">external</a> method</li>
        <li>store it</li>
        <li>create a new feed with readable items</li>
    </ul>
    <p>And it's available on <a href="https://github.com/j0k3r/f43.me">Github</a>.</p>
</div>
<div class="row">
    <h2><em>Readable</em> feeds</h2>
    {% if feeds|length > 0 %}
        <table role="grid">
            <thead>
                <tr>
                    <th>Feed</th>
                    <th>Updated</th>
                    <th>Items</th>
                </tr>
            </thead>
            <tbody>
            {% for feed in feeds %}
                <tr>
                    <td>
                        {{ include('default/Feed/_favicon.html.twig', {'host': feed.host}) }}
                        <a href="{{ url('feed_xml', { 'slug': feed.slug }) }}" target="_blank" title="{{ feed.name }}">{{ feed.name }}</a>
                    </td>
                    <td class="time-ago" datetime="{{ feed.lastItemCachedAt|date('r') }}">{{ feed.lastItemCachedAt|date('d/m/y - H:i:s') }}</td>
                    <td class="items-count">{{ feed.nbItems }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No updated feed for the moment.</p>
    {% endif %}
</div>
{% endblock %}
