{% extends "j0k3rFeedBundle::layout.html.twig" %}

{% block h2_title %}
    <img class="favicon" src="https://plus.google.com/_/favicon?domain={{ feed.link }}" />
    {{ feed.name }}'s items
    <small>{{ feeditems|length }} cached items</small>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <ul class="inline-list list-buttons">
            <li><a class="secondary button radius small" href="{{ path('feed_edit', { 'slug': feed.slug }) }}">&lArr; Back to the feed</a></li>

            {% if feeditems|length > 0 %}
            <li>
                <form action="{{ path('feeditem_delete_all', { 'slug': feed.slug }) }}" method="post" class="delete_form">
                    {{ form_widget(delete_all_form) }}
                    <button class="alert button radius small" type="submit">Delete all items</button>
                </form>
            </li>
            {% endif %}
        </ul>

        {% if feeditems|length > 0 %}
            <table class="table-items">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Published at</th>
                        <th>Created at</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for feeditem in feeditems %}
                    <tr>
                        <td><div><a href="{{ feeditem.link }}" target="_blank">{{ feeditem.title|raw }}</a></div></td>
                        <td>{{ feeditem.publishedat|date('d/m/y - H:i:s') }}</td>
                        <td>{{ feeditem.createdat|date('d/m/y - H:i:s') }}</td>
                        <td><a class="secondary button small radius" data-reveal-id="modal-preview-item" data-reveal-ajax="{{ path('feeditem_preview_cached', { 'id': feeditem.id }) }}">preview</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="secondary button radius small" href="{{ path('feed_edit', { 'slug': feed.slug }) }}">&lArr; Back to the feed</a>
        {% endif %}
    </div>
</div>

<div id="modal-preview-item" class="reveal-modal"></div>

{% endblock %}
