{% extends "j0k3rFeedBundle::layout.html.twig" %}

{% block h2_title %}
    Feed logs
    <small>{{ feedlogs|length }} items</small>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% if feedlogs|length > 0 %}
            <table class="table-feedlogs">
                <thead>
                    <tr>
                        <th>Feed</th>
                        <th>Items</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for feedlog in feedlogs %}
                    <tr>
                        <td><img class="favicon" src="https://plus.google.com/_/favicon?domain={{ feedlog.feed.link }}" /> <a href="{{ path('j0k3r_feed_edit', { 'slug': feedlog.feed.slug }) }}">{{ feedlog.feed.name }}</a></td>
                        <td>{{ feedlog.itemsnumber }}</td>
                        <td title="{{ feedlog.createdat|date('d/m/y - H:i:s') }}">{{ time_diff(feedlog.createdat) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No feed logs yet..</p>
        {% endif %}
    </div>
</div>

{% endblock %}
