{% extends "Api43FeedBundle::layout.html.twig" %}

{% block h2_title %}Testing a link{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <form action="{{ path('feed_test') }}" method="post" {{ form_enctype(form) }} class="custom">
            {{ form_errors(form) }}

            <div class="row">
                <div class="large-7 columns">
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix radius">{{ form_label(form.link) }}</span>
                        </div>
                        <div class="small-10 columns">
                            {{ form_widget(form.link) }}
                        </div>
                    </div>
                </div>
                <div class="large-3 columns">
                    <div class="row collapse">
                        <div class="small-3 columns">
                            <span class="prefix radius">{{ form_label(form.parser) }}</span>
                        </div>
                        <div class="small-9 columns">
                            {{ form_widget(form.parser) }}
                        </div>
                    </div>
                </div>
                <div class="large-2 columns">
                    <div class="row collapse">
                        <button type="submit" class="small button radius success">Test</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="large-10 columns">
                    <label for="right-label">{{ form_label(form.siteconfig) }}</label>
                    {{ form_widget(form.siteconfig, {'attr': { 'placeholder': 'Put your config file here', 'class': 'siteconfig'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>

    {% if content.url is defined %}
    <hr/>
    <div class="large-12 columns">
        {{ include('Api43FeedBundle:FeedItem:content.html.twig', {'title': '', 'content': content.content, 'url': content.url, 'modal': false}) }}
    </div>
    {% endif %}
</div>

{% endblock %}
