{% extends "base.html.twig" %}

{% block h_title %}
    <hgroup>
        <h1>{{ include('default/Feed/_favicon.html.twig', {'host': feed.host}) }} {{ feed.name }}'s logs</h1>
        <h3>{{ feedlogs|length }} logs</h3>
    </hgroup>
{% endblock %}

{% block content %}
<p>
    <a href="{{ path('feed_edit', { 'slug': feed.slug }) }}">&lArr; Back to the feed</a>
</p>

{% if feedlogs|length > 0 %}
    <table role="grid">
        <thead>
            <tr>
                <th>Feed</th>
                <th>Items</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
        {% for feedlog in feedlogs %}
            <tr>
                <td>
                    {{ include('default/Feed/_favicon.html.twig', {'host': feedlog.feed.host}) }}
                    <a href="{{ path('feed_edit', { 'slug': feedlog.feed.slug }) }}">{{ feedlog.feed.name }}</a>
                </td>
                <td class="items-count">{{ feedlog.itemsNumber }}</td>
                <td class="time-ago" datetime="{{ feedlog.createdAt|date('r') }}">{{ feedlog.createdAt|date('d/m/y - H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="{{ path('log_delete_all', { 'slug': feed.slug }) }}" method="post" class="delete_form">
        {{ form_widget(delete_all_form) }}
        <button class="alert" type="submit">Cleanup logs</button>
    </form>
{% endif %}
{% endblock %}
