{% extends "base.html.twig" %}

{% block h_title %}
    <hgroup>
        <h1>Feed logs</h1>
        <h3>{{ feedlogs|length }} last items</h3>
    </hgroup>
{% endblock %}

{% block content %}
{% if feedlogs|length > 0 %}
    <table role="grid">
        <thead>
            <tr>
                <th>Feed</th>
                <th>Items</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for feedlog in feedlogs %}
            <tr>
                <td>
                    {{ include('default/Feed/_favicon.html.twig', {'host': feedlog.feed.host}) }}
                    <a href="{{ path('feed_edit', { 'slug': feedlog.feed.slug }) }}">{{ feedlog.feed.name }}</a>
                </td>
                <td class="items-count">{{ feedlog.itemsNumber }}</td>
                <td class="time-ago" datetime="{{ feedlog.createdAt|date('r') }}">{{ feedlog.createdAt|date('d/m/y - H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No feed logs yet..</p>
{% endif %}

{% endblock %}
