{% extends "j0k3rFeedBundle::layout.html.twig" %}

{% block h2_title %}
    <span>f43.me <small>dashboard</small></span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-5 columns">
        <h3 class="subheader">Last items</h3>

        {% if historylogs|length > 0 %}
            <div id="history-logs" style="height: 200px;"></div>

            <script type="text/javascript">
            Zepto(function($){
                new Morris.Bar({
                    element: 'history-logs',
                    data: [
                    {% for date, number in historylogs %}
                        { x: '{{ date }}', y: {{ number }} },
                        {% endfor %}
                    ],
                    xkey: 'x',
                    ykeys: ['y'],
                    labels: ['Items']
                });
            });
            </script>
        {% endif %}

        {% if feedlogs|length > 0 %}
            <table class="table-dashboard-feedlogs">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Items</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for feedlog in feedlogs %}
                    <tr>
                        <td>
                            <div>
                                {{ include('j0k3rFeedBundle:Feed:_favicon.html.twig', {'host': feedlog.feed.host}) }}
                                <a href="{{ path('feed_edit', { 'slug': feedlog.feed.slug }) }}">{{ feedlog.feed.name }}</a>
                            </div>
                        </td>
                        <td class="items-count">{{ feedlog.itemsnumber }}</td>
                        <td title="{{ feedlog.createdat|date('d/m/y - H:i:s') }}">{{ time_diff(feedlog.createdat) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No updated item.</p>
        {% endif %}
    </div>

    <div class="large-7 columns hide-for-small">
        <h3 class="subheader">Last updated feeds</h3>
        {% if feeds|length > 0 %}
            <table class="table-dashboard-feeds">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Link</th>
                        <th>Items</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for feed in feeds %}
                    <tr>
                        <td>
                            {{ include('j0k3rFeedBundle:Feed:_favicon.html.twig', {'host': feed.host}) }}
                            <a href="{{ path('feed_edit', { 'slug': feed.slug }) }}">{{ feed.name }}</a>
                        </td>
                        <td><div>{{ feed.host }}</div></td>
                        <td class="items-count">{{ feed.nbitems }}</td>
                        <td>{{ feed.createdat|date('d/m/y - H:i') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No update.</p>
        {% endif %}
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" type="text/javascript"></script>
<script src="{{ asset('bundles/j0k3rfeed/js/morris.js') }}" type="text/javascript"></script>

{% endblock %}
