{% extends "j0k3rFeedBundle::layout.html.twig" %}
{% form_theme edit_form 'j0k3rFeedBundle:Form:_form.html.twig' %}

{% block h2_title %}{{ feed.name }}'s feed{% endblock %}

{% block content %}
<div class="row">
    <div class="large-8 columns">
        <h3 class="subheader">Info</h3>
        <form action="{{ path('j0k3r_feed_update', { 'slug': feed.slug }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}

                <div class="row">
                    <div class="small-3 columns">
                        <label class="right inline">Created at</label>
                    </div>
                    <div class="small-9 columns">
                        <input disabled="disabled" type="text" value="{{ feed.createdat|date('Y-m-d H:i:s') }}" />
                    </div>
                </div>

                <div class="row">
                    <div class="small-3 columns">
                        <label class="right inline">Updated at</label>
                    </div>
                    <div class="small-9 columns">
                        <input disabled="disabled" type="text" value="{{ feed.updatedat|date('Y-m-d H:i:s') }}" />
                    </div>
                </div>

            <div class="row">
                <div class="small-9 small-offset-3 columns">
                    <button type="submit" class="small button radius">Save</button>
                </div>
            </div>
        </form>
    </div>
    <div class="large-12 columns">
        <hr/>
        <ul class="inline-list">
            <li><a class="secondary button radius small" href="{{ path('j0k3r_feed_homepage') }}">Back to the list</a></li>
            <li><a class="success button radius small" href="{{ path('j0k3r_feed_new') }}">Add a new feed</a></li>
            <li><form action="{{ path('j0k3r_feed_delete', { 'slug': feed.slug }) }}" method="post">{{ form_widget(delete_form) }}<button class="alert button radius small" type="submit">Delete</button></form></li>
        </ul>
    </div>
</div>

{% endblock %}
