{% extends "j0k3rFeedBundle::layout.html.twig" %}

{% block h2_title %}Feeds list <small>- {{ feeds|length }} feeds</small>{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% if feeds|length > 0 %}
            <table class="table-feeds">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Link</th>
                        <th>Items</th>
                        <th>Logs</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for feed in feeds %}
                    <tr>
                        <td><img class="favicon" src="https://plus.google.com/_/favicon?domain={{ feed.link }}" /> <a href="{{ path('j0k3r_feed_edit', { 'slug': feed.slug }) }}">{{ feed.name }}</a></td>
                        <td><div>{{ feed.link }}</div></td>
                        <td>{{ feed.feeditems.count }}</td>
                        <td>{{ feed.feedlogs.count }}</td>
                        <td>{{ feed.createdat|date('d/m/y - H:i') }}</td>
                        <td>{{ feed.updatedat|date('d/m/y - H:i') }}</td>
                        <td>
                            <a href="{{ path('j0k3r_feed_edit', { 'slug': feed.slug }) }}">edit</a> -
                            <a href="{{ path('j0k3r_feeditem_homepage', { 'slug': feed.slug }) }}">items</a> -
                            <a href="{{ path('j0k3r_feedlog_feed', { 'slug': feed.slug }) }}">logs</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No feeds</p>
        {% endif %}
    </div>
</div>

{% endblock %}
