{% extends "j0k3rFeedBundle::layout.html.twig" %}

{% block h2_title %}Feeds <small>{{ feeds|length }} feeds</small>{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% if feeds|length > 0 %}
            <table class="table-feeds">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Links</th>
                        <th>Items</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for feed in feeds %}
                    <tr>
                        <td>
                            {{ include('j0k3rFeedBundle:Feed:_favicon.html.twig', {'host': feed.host}) }}
                            <a href="{{ path('feed_edit', { 'slug': feed.slug }) }}">{{ feed.name }}</a>
                        </td>
                        <td>
                            <a href="{{ feed.link }}" target="_blank">Official one</a> -
                            <a href="{{ url('feedapi_feed', { 'slug': feed.slug }) }}" target="_blank">Readable one</a>
                        </td>
                        <td>{{ feed.feeditems.count }}</td>
                        <td>{{ feed.createdat|date('d/m/y - H:i') }}</td>
                        <td>{{ feed.updatedat|date('d/m/y - H:i') }}</td>
                        <td>
                            <a href="{{ path('feed_edit', { 'slug': feed.slug }) }}">edit</a> -
                            <a href="{{ path('feeditem_homepage', { 'slug': feed.slug }) }}">items</a> -
                            <a href="{{ path('feedlog_feed', { 'slug': feed.slug }) }}">logs</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No feeds</p>
        {% endif %}
    </div>
</div>

{% endblock %}
