{% extends "base.html.twig" %}

{% block h_title %}
    <h1>Testing a link</h1>
{% endblock %}

{% block content %}
<div>
    {{ form_start(form, {'attr': {'class': 'custom' }}) }}
        {{ form_errors(form) }}

        <div class="grid">
            <div>
                {{ form_label(form.link) }}
                {{ form_widget(form.link, { 'attr': {'autofocus': 'autofocus'} }) }}
            </div>

            <div>
                {{ form_label(form.parser) }}
                {{ form_widget(form.parser) }}
            </div>
        </div>

        <button type="submit">Test</button>

        <div id="siteconfig">
            <p><a href="#" id="try-siteconfig">Want to try a custom siteconfig?</a> A tool is <a target="_blank" href="http://siteconfig.fivefilters.org/">available</a> to help build site-specific extraction rules.</p>

            {{ form_widget(form.siteconfig, {'attr': { 'placeholder': 'Put your config file here'}}) }}

            <div>
                {{ form_label(form.siteconfig_replace, null, {'label_attr': {'class': 'label-no-block'}}) }}
                {{ form_widget(form.siteconfig_replace) }}
            </div>
        </div>

        {{ form_rest(form) }}
    </form>

    {% if content.url is defined %}
    <div>
        <details>
            <summary>Debug log {% if logsHasWarning %}<span class="error">(with errors)</span>{% endif %}</summary>
            <div>
                {% for log in logs %}
                    {{ log.formatted|raw }}
                {% endfor %}
            </div>
        </details>

        <details open>
            <summary>Results</summary>
            <div>
                {{ include('default/Item/content.html.twig', {'title': '', 'content': content.content, 'url': content.url, 'modal': false}) }}
            </div>
        </details>
    </div>
    {% endif %}
</div>

{% endblock %}
