{% extends "layout.html.twig" %}

{% block h2_title %}Testing a link{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        {{ form_start(form, {'attr': {'class': 'custom' }}) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="large-7 columns">
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix radius">{{ form_label(form.link) }}</span>
                        </div>
                        <div class="small-10 columns">
                            {{ form_widget(form.link, { 'attr': {'autofocus': 'autofocus'} }) }}
                        </div>
                    </div>
                </div>
                <div class="large-3 columns">
                    <div class="row collapse">
                        <div class="small-3 columns">
                            <span class="prefix radius">{{ form_label(form.parser) }}</span>
                        </div>
                        <div class="small-9 columns">
                            {{ form_widget(form.parser) }}
                        </div>
                    </div>
                </div>
                <div class="large-2 columns">
                    <div class="row collapse">
                        <button type="submit" class="small button radius success">Test</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="large-10 columns siteconfig">
                    <p><a href="#" class="try-siteconfig">Want to try a custom siteconfig?</a> A tool is <a target="_blank" href="http://siteconfig.fivefilters.org/">available</a> to help build site-specific extraction rules.</p>

                    {{ form_widget(form.siteconfig, {'attr': { 'placeholder': 'Put your config file here'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
        </form>

        {% if content.url is defined %}
        <div class="section-container tabs" data-section="tabs">
            <section class="active">
                <p class="title" data-section-title>
                    <a href="#">Results</a>
                </p>
                <div class="content" data-section-content>
                    {{ include('default/Item/content.html.twig', {'title': '', 'content': content.content, 'url': content.url, 'modal': false}) }}
                </div>
            </section>
            <section>
                <p class="title" data-section-title>
                    <a href="#">
                        Debug log

                        {% if logsHasWarning %}
                            <span class="round alert label">1</span>
                        {% endif %}
                    </a>
                </p>
                <div class="content" data-section-content>
                    {% for log in logs %}
                        {{ log.formatted|raw }}
                    {% endfor %}
                </div>
            </section>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
